// Menu CSS
.menu-nav
    display: flex
    position: fixed
    right: 35px
    top: 35px
    
    :nth-child(1)
        i
            text-align: center
            &:hover
                text-align: center
                color: $highlight
                &::before
                    content: "About"
                    @include easeOut
    :nth-child(2)
        i
            &:hover
                color: $highlight
                &::before
                    content: "Projects"
                    @include easeOut
    :nth-child(3)
        i
            &:hover
                color: $highlight
                &::before
                    content: "Skills"
                    @include easeOut
    :nth-child(4)
        i
            &:hover
                color: $highlight
                &::before
                    content: "Contact"
                    @include easeOut
                

    li.nav-item
        padding: 0 1rem
        a
            text-decoration: none
            color: set-text-color($primary)