// Responsive Design
@include mediaMd
    main
        &#about
            .flex-container
                flex-direction: column
                text-align: center
                .about-img
                    order: 0
                    margin: 1rem 0
                    width: 100%
                .work-container
                    grid-template-columns: 1fr
                    order: 1

@include mediaSm
    main
        padding: 1rem
        text-align: center
        &#home
            h1
                margin-top: 30vh
            h2
                font-size: 1.6rem
            h3
                display: none
                @include easeOut
            p
                font-size: .91rem            
        &#about //About.html Responsive CSS
            h1
                margin-top: 15vh
                font-size: 4rem
            .flex-container
                margin: 0
                padding: 0
                .about-img
                    margin: 1rem 0

