// Responsive Design
@include mediaSm
    main#home
        text-align: center
        margin: 0
        padding: 0
        h1
            margin-top: 30vh
            
        h2
            font-size: 1.6rem
        h3
            display: none
            @include easeOut
        p
            font-size: .91rem
