// Responsive Design
@include mediaSm
    main
        padding: 1rem
        text-align: center
        &#home
            h1
                margin-top: 30vh
            h2
                font-size: 1.6rem
            h3
                display: none
                @include easeOut
            p
                font-size: .91rem            
        &#about //About.html Responsive CSS
            h1
                margin-top: 15vh
                font-size: 4rem
            // h3
            //     margin: -0.5rem 0 0.5rem 0
            //     background: lighten($primary, 4)
            //     border-radius: 12px
            //     span
            //         color: $highlight
            //         padding: 0 0.1rem
            //         font-size: 4rem
            //         @include loading

            // @for $x from 1 to 4
            //     .sm-heading span:nth-child(#{$x})
            //         animation-delay: $x * .2s