@import 'reset'
@import 'config'
@import 'menu'
@import 'animations'
// Website CSS Starts Here
*
    box-sizing: border-box
    transition: all .5s ease-in-out
    font-size: 62.5%

body
    background-color: $primary-color
    height: 100%
    margin: 0
    line-height: 1.5
    // background-image: -webkit-linear-gradient(30deg,#013a6b 10%, #004e95 100%)
h1
    font-size: 6rem
h2
    font-size: 3rem
h3
    font-size: 2rem
p
    font-size: 1.6rem


main
    padding: 4rem
    height: 100%
    min-height: calc(100vh - 60px)

    &#home
        overflow: hidden
        h1
            margin-top: 10vh


footer
    padding: 1rem
    height: 60px
    text-align: center
    background: #2b2b2b
    color: #fff
































@import 'mobile'