doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="css/index.css" type="text/css" rel="stylesheet")
        script(src="script.js")
        title My Web Portfolio
  
    body
        .container
            header
                ul
                    li
                        a(href="#") About
                    li
                        a(href="#") Work
                    li
                        a(href="#") Contact
            
            section.intro
                h1 Welcome to OO  
                p.
                    I am a Fullstack Web Developer and UI/UX
                    Javascript specialist based in Boston, MA.
                    I love creating webpages and mobile applications. 