doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="index.css" type="text/css" rel="stylesheet")
        script(src="script.js")
        title My Web Portfolio
    header
        h1 Welcome to OO    
    body
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, nostrum?
