doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="css/index.css" type="text/css" rel="stylesheet")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand")
        script(src="script.js")
        title My Web Portfolio
  
    body
        .container
            header
                ul
                    li
                        a.link(href="#") About
                    li
                        a.link(href="#") Work
                    li
                        a.link(href="#") Contact
            
            section.intro
                h1 Welcome to OO  
                p.
                    I am a #[span Fullstack Web Developer] and UI/UX
                    Javascript specialist based in Boston, MA.
                    I love creating webpages and mobile applications. 
            
            footer
                p.
                    &copy 2018 #[a(href="#") Seun Olorunwunmi]. All rights reserved.
