@keyframes slide-In {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes div-slide {
  0% {
    width: 0rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 13rem;
  }
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.menu-nav {
  display: flex;
  position: fixed;
  right: 35px;
  top: 35px;
}
.menu-nav :nth-child(1) i {
  text-align: center;
}
.menu-nav :nth-child(1) i:hover {
  text-align: center;
  color: skyblue;
}
.menu-nav :nth-child(1) i:hover::before {
  content: "About";
  transition: all 0.3s ease-out;
}
.menu-nav :nth-child(2) i:hover {
  color: skyblue;
}
.menu-nav :nth-child(2) i:hover::before {
  content: "Work";
  transition: all 0.3s ease-out;
}
.menu-nav :nth-child(3) i:hover {
  color: skyblue;
}
.menu-nav :nth-child(3) i:hover::before {
  content: "Skills";
  transition: all 0.3s ease-out;
}
.menu-nav :nth-child(4) i:hover {
  color: skyblue;
}
.menu-nav :nth-child(4) i:hover::before {
  content: "Contact";
  transition: all 0.3s ease-out;
}
.menu-nav li.nav-item {
  padding: 0 1rem;
}
.menu-nav li.nav-item a {
  text-decoration: none;
  color: #fff;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Quicksand", sans-serif;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  font-size: 62.5%;
}

body {
  background-color: #222;
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #fff;
}
h1.lg-heading, h2.lg-heading, h3.lg-heading, p.lg-heading {
  font-size: 5rem;
  font-family: "Racing Sans One", cursive;
  animation: slide-In 1.5s ease-in-out both;
}
h1.lg-heading .secondary, h2.lg-heading .secondary, h3.lg-heading .secondary, p.lg-heading .secondary {
  font-family: "Racing Sans One", cursive;
  color: aqua;
}
h1.md-heading, h2.md-heading, h3.md-heading, p.md-heading {
  font-size: 2rem;
}
h1.sm-heading, h2.sm-heading, h3.sm-heading, p.sm-heading {
  font-size: 1.6rem;
}

p {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.6rem;
}

/* Index.html css */
main {
  padding: 4rem;
  height: 100%;
  min-height: calc(100vh - 60px);
  color: #fff;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 25vh;
}
main#home h2 {
  color: aqua;
  margin-top: -1.6rem;
}
main#home h3 span {
  color: skyblue;
  animation: pulse 2s linear infinite both;
}
main#home p {
  font-size: 1rem;
}
main#home p span {
  color: skyblue;
}
main#home .divider {
  border: 1px solid skyblue;
  display: inline-block;
  margin-top: -1rem;
  margin-bottom: 2rem;
  animation: div-slide 1s ease-out both 1s;
}
main#about h3 {
  margin: -0.5rem 0 0.5rem 0;
  background: #2c2c2c;
  border-radius: 12px;
}
main#about h3 span {
  color: skyblue;
  padding: 0 0.1rem;
  font-size: 2rem;
  animation: blink 1.4s infinite;
}
main#about .sm-heading span:nth-child(1) {
  animation-delay: 0.2s;
}
main#about .sm-heading span:nth-child(2) {
  animation-delay: 0.4s;
}
main#about .sm-heading span:nth-child(3) {
  animation-delay: 0.6s;
}

footer {
  padding: 1rem;
  height: 60px;
  text-align: center;
  background: #2b2b2b;
  color: #fff;
}

@media screen and (max-width: 500px) {
  main {
    padding: 1rem;
    text-align: center;
  }
  main#home h1 {
    margin-top: 30vh;
  }
  main#home h2 {
    font-size: 1.6rem;
  }
  main#home h3 {
    display: none;
    transition: all 0.3s ease-out;
  }
  main#home p {
    font-size: 0.91rem;
  }
  main#about h1 {
    margin-top: 15vh;
    font-size: 4rem;
  }
}

/*# sourceMappingURL=index.css.map */
