doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="css/index.css" type="text/css" rel="stylesheet")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet")
        title About
  
    body
        header
            nav.menu
                ul.menu-nav
                    li.nav-item.current
                        a.nav-link(href="about.html")
                            i.fas.fa-user-tie
                    li.nav-item
                        a.nav-link(href="projects.html")
                            i.fas.fa-bullseye
                    li.nav-item
                        a.nav-link(href="skills.html")
                            i.fas.fa-cog
                    li.nav-item
                        a.nav-link(href="contact.html")
                            i.fas.fa-envelope
            
            
        main#about
            h1.lg-heading About #[span.secondary Me]
            h3.sm-heading.splode Some personal info #[span.loading .] #[span.loading .] #[span.loading .]
            section.about-info
                .bio
                    p. 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptatem tempora facilis 
                       
                .flex-container
                    .about-img
                        img(src="img/portrait.jpg", alt="Profile Picture")
                        p.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, voluptatum dolore. Architecto magni, 
                        .socials
                            a(href="#")
                                i.fab.fa-github
                            a(href="#")
                                i.fab.fa-linkedin
                            a(href="#")
                                i.fab.fa-twitter
                            a(href="#")
                                i.fab.fa-dribbble

                    .work-container
                        .work.work-1
                            h3.splode Company
                            h6 Job Title
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, pariatur.
                        .work.work-2
                            h3.splode Company
                            h6 Job Title
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, pariatur.
                        .work.work-3
                            h3.splode Company
                            h6 Job Title
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, pariatur.
                        .work.work-4
                            h3.splode Company
                            h6 Job Title
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, pariatur.
            

        footer
            |&copy 2018 #[a(href="index.html") Seun Olorunwunmi]. All rights reserved.













            script(src="js/script.js")