doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="css/index.css" type="text/css" rel="stylesheet")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand")
        title Seun.io
  
    body
        .container
            header
                nav.menu
                    ul.menu-nav
                        li.nav-item
                            a.nav-link(href="about.html") About
                        li.nav-item
                            a.nav-link(href="work.html") Work
                        li.nav-item
                            a.nav-link(href="skills.html") Skills
                        li.nav-item
                            a.nav-link(href="contact.html") Contact
            
            section.intro
                h1 Seun  
                p.
                    #[span Fullstack Web Developer] and UI/UX
                    Javascript specialist based in Boston, MA.
                    I love creating webpages and mobile applications. 
            
            section.work
                .work_1
                    h2 Test 1
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, pariatur.
                .work_2
                    h2 Test 2
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, maxime?
                .work_3
                    h2 Test 3
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, expedita.
            section.skills
            section.contact

            footer
                |&copy 2018 #[a(href="#") Seun Olorunwunmi]. All rights reserved.













            script(src="js/script.js")