doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="css/index.css" type="text/css" rel="stylesheet")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet")
        title Contact Me
  
    body
        header
            nav.menu
                ul.menu-nav
                    li.nav-item
                        a.nav-link(href="about.html")
                            i.fas.fa-user-tie
                    li.nav-item
                        a.nav-link(href="projects.html")
                            i.fas.fa-bullseye
                    li.nav-item
                        a.nav-link(href="skills.html")
                            i.fas.fa-cog
                    li.nav-item.current
                        a.nav-link(href="contact.html")
                            i.fas.fa-envelope  
            
        main#contact
            h1.lg-heading Contact #[span.secondary Me]
            h3.sm-heading.bg Here is how you can reach me #[span.loading .] #[span.loading .] #[span.loading .]
            section.contact
                .form-img
                    img(src="img/icons/ps.png", alt="")
                .form-container
                    form(action="")
                        label(for="name") Name
                        input(type="text" id="name" name="full_name")
                        label(for="") Email
                        input(type="email" id="email" name="email_address")
                        label(for="subject") Subject
                        input(type="text" id="subject" name="subject")
                        label(for="msg") Message
                        textarea(name="msg", cols="30", rows="10")
                        input(type="button", value="Send Message")



        footer
            |&copy 2018 #[a(href="index.html") Seun Olorunwunmi]. All rights reserved.













            script(src="js/script.js")