doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="css/index.css" type="text/css" rel="stylesheet")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet")
        title Seun.io
  
    body
        header
            nav.menu
                ul.menu-nav
                    li.nav-item
                        a.nav-link(href="about.html")
                            i.fas.fa-user-tie
                    li.nav-item
                        a.nav-link(href="projects.html")
                            i.fas.fa-bullseye
                    li.nav-item
                        a.nav-link(href="skills.html")
                            i.fas.fa-cog
                    li.nav-item
                        a.nav-link(href="contact.html")
                            i.fas.fa-envelope
        
        main#home
            h1.lg-heading Seun  
            .divider
            h2.md-heading #[span Fullstack Web Developer]
            h3.sm-heading Here to turn your ideas #[span.pulser &] dreams into reality
            p HTML #[span.slash /] CSS #[span.slash /] Javascript #[span.slash /] UI & UX
        













        script(src="js/script.js")