doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="css/index.css" type="text/css" rel="stylesheet")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet")
        title Skills
  
    body(onload="myfunc()")
        header
            nav.menu
                ul.menu-nav
                    li.nav-item
                        a.nav-link(href="Index.html")
                            i.fas.fa-home
                    li.nav-item
                        a.nav-link(href="About.html")
                            i.fas.fa-user-tie
                    li.nav-item
                        a.nav-link(href="Projects.html")
                            i.fas.fa-bullseye
                    li.nav-item.current
                        a.nav-link(href="Skills.html")
                            i.fas.fa-cog
                    li.nav-item
                        a.nav-link(href="Contact.html")
                            i.fas.fa-envelope  
            
        main#skills
            h1.lg-heading Skills #[span.secondary ]
            h3.sm-heading.bg Here is what I can do #[span.loading .] #[span.loading .] #[span.loading .]
            section.skills
                .skills-info
                    p.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam excepturi eum blanditiis. Fugiat,
                        delectus ullam pariatur necessitatibus in dolorem rerum voluptates eligendi inventore recusandae laudantium 
                        voluptatum eaque adipisci quo sunt vel repellat consequuntur. Voluptas ab doloremque nulla eaque eligendi saepe. #[br] #[br]
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima reprehenderit vitae, 
                        fugit modi aliquam at est id similique maiores soluta, suscipit explicabo temporibus voluptatem, #[br] #[br]
                        necessitatibus voluptate natus. Quasi nihil doloribus consequatur ex excepturi, in quae fuga praesentium? Iste, odio nulla!
                .skills-icons
                    img.html(src="img/icons/html.svg", alt="")
                    img.css(src="img/icons/css.svg", alt="")
                    img.js(src="img/icons/js.png", alt="")
                    img.ux(src="img/icons/ps.svg", alt="")

        footer
            |&copy 2019 #[a(href="index.html") Seun Olorunwunmi]. All rights reserved.













            script(src="js/script.js")